@model IhaleFiyatDTO

<div class="container pt-4 pb-5">

    @using (Html.BeginForm("IhaleyeKatil", "AracIlanlari", FormMethod.Post))
    {
        @Html.AntiForgeryToken()

        <div class="card shadow mt-5" style="margin-top:20%; margin:0 20%">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">İhaleye Katıl</h6>
            </div>


            <div class="card-body row px-4">

                <div class="col-md-8">
                    <div class="d-flex align-items-center pt-5 pl-4">
                        <span class="font-weight-bold text-primary"> <p class="me-2">İhalenin Başlangıç Fiyatı :</p> @ViewData["Fiyat"]</span>
                    </div>
                </div>

                <div class="col-md-8">
                    <div class="d-flex align-items-center pt-5 pl-4">
                        <span class="me-4 font-weight-bold text-primary">Fiyat :</span>
                        @Html.TextBoxFor(a => a.Fiyat, new { @class = "rounded w-50 p-2" })
                    </div>
                </div>

                <div class="col-md-8">
                    <div class="d-flex align-items-center pt-5 pl-4">
                        <span class="me-4 font-weight-bold text-primary">Belirlenen Maksimum Fiyat :</span>
                        @Html.TextBoxFor(a => a.BelirlenenMaksimumFiyat, new { @class = "rounded w-50 p-2" })
                    </div>
                </div>

                <div class="col-md-8">
                    <div class="d-flex align-items-center pt-5 pl-4">
                        <span class="me-4 font-weight-bold text-primary">Arttırılacak Fiyat : </span>
                        @Html.TextBoxFor(a => a.ArttırılacakFiyat, new { @class = "rounded w-50 p-2" })
                    </div>
                </div>

                <div class="col-md-12">
                    <div class="text-right d-flex pb-4 pt-4">
                        <input class="me-4 btn btn-primary font-weight-bold ms-auto" type="submit" name="name" value="Katıl" />
                        <a asp-action="Index" asp-controller="AracIlanlari" class="btn btn-primary">Vazgeç</a>
                    </div>
                </div>

            </div>

        </div>
    }
</div>
